@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.gothic-font {
    font-family: 'UnifrakturMaguntia', cursive;
}

body {
    /* background-color: #0a0a0a; */
}